<!DOCTYPE html>
<html lang="en">
  <link>
      <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Project Microservice Ui</title>
    <link rel="stylesheet" href="http://www.amexio.org/demoapp/assets/themes/at-md-blue.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="../assets/project/css/project.css"/>
  <link rel="stylesheet" href="../assets/prism.css">
  <script src="../assets/prism.js"></script>
  </link>
    <style type="text/css">
      .container-demo {
        margin-top: 70px;
      }
    </style>

  <body>
      <project-demo-app>Loading demo...</project-demo-app>
  </body>
</html>
